/* @override http://chat/css/screen.css */

html {
	font: 90% Helvetica;
}

body {
	background-color: #fff;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

em {
	font-size: 80%;
	font-style: italic;
}

h1,h2,nav {
	display: inline-block;
	margin: 2px;
}

h1 {
	font-size: 18px;
}

header,#messagebox {
	position: fixed;
	height: 24px;
	width: 100%;
	
	background-color: #fff;
}

header {
	border-bottom: 1px solid;
}

header ul ul {
	
	
}

header ul ul,
header form {
	display: none;
	position: absolute;
	top: 24px;
	right: 0px;
	padding: 4px;
	background-color: #e4e4e4;
}

header nav {
	float: right;
	margin: 4px;
}

header nav li {
	display: inline-block;
	padding: 0px 6px;
}

header a {
	color: #2b9351;
}

#chat {
	padding: 32px 8px;
	font-family: "Courier New", Courier, Monaco, monospace;;
}

#chat p {
	border-bottom: 1px solid #c5c5c5;
	padding: 2px 0px;
}

#chat p:first-child {
	border-top: 1px solid #c5c5c5;
}

#messagebox {
	bottom: 0px;
	border-top: 1px solid;
	padding: 0px 0px 4px;
}

#messagebox input {
	height: 24px;
}

#messagebox input[type=text] {
	border: none;
	width: 91%;
	height: 26px;
}

#messagebox input:focus {
	border: none;
}

#messagebox input[type=submit] {
	/*display: none;*/
	border: 1px solid;
	background-color: #fff;
	float: right;
	margin: 2px;
	height: 24px;
}